@keyframes buttonOpen {
	from {
		margin-left: -550px;
	}
	to { 
		margin-left: 0;
	}
}

@keyframes mainImg {
	from { transform: scale(1.2); }
	to { transform: scale(1); }
}

@keyframes coverImg {
	from { 
		left: 0%; 
		width: 150%; 
	}

	to { left: -100%; 
		width: 0%;
	}
}

@keyframes opacity-obj {
		from {opacity: 0; }
	to { opacity: 1; }
}

@keyframes opacity-obj-2 {
		from {opacity: 0; }
	to { opacity: 0.15; }
}
@keyframes opacity-obj-0 {
		from {opacity: 0.15; }
	to { opacity: 0; }
}

@keyframes bg-text-left {
	from { transform: translateY(-150px); }
	to { transform: translateY(0); }
}

@keyframes bg-text-right {
	from { transform: translateY(150px); }
	to { transform: translateY(0); }
}


@keyframes up-text-1 {
	from { transform: translateY(50px); }
	to { transform: translateY(0); }
}

@keyframes up-text-2 {
	from { transform: translateY(70px); }
	to { transform: translateY(0); }
}

@keyframes up-text {
	from { transform: translateY(15px); }
	to { transform: translateY(0); }
}

@keyframes burger-1 {
	0% { width: 15px; }
	33% { width: 5px; }
	66% { width: 20px; }
	100% { width: 10px; }
}

@keyframes burger-2 {
	0% { width: 10px; }
	33% { width: 15px; }
	66% { width: 5px; }
	100% { width: 20px; }
}

@keyframes burger-3 {
	0% { width: 5px; }
	33% { width: 20px; }
	66% { width: 10px; }
	100% { width: 15px; }
}


@keyframes percent90 {
	from {  stroke-dashoffset: 440; }
	to {  stroke-dashoffset: 80; }
}

@keyframes percent70 {
	from {  stroke-dashoffset: 440; }
	to {  stroke-dashoffset: 160; }
}

@keyframes percent50 {
	from {  stroke-dashoffset: 440; }
	to {  stroke-dashoffset: 210; }
}

@keyframes percent1 {
	from {  stroke-dashoffset: 284; }
	to {  stroke-dashoffset: 45; }
}

@keyframes percent2 {
	from {  stroke-dashoffset: 284; }
	to {  stroke-dashoffset: 70; }
}

@keyframes percent3 {
	from {  stroke-dashoffset: 284; }
	to {  stroke-dashoffset: 110; }
}

@keyframes percent4 {
	from {  stroke-dashoffset: 284; }
	to {  stroke-dashoffset: 110; }
}

@keyframes percent5 {
	from {  stroke-dashoffset: 284; }
	to {  stroke-dashoffset: 25; }
}

@keyframes percent6 {
	from {  stroke-dashoffset: 284; }
	to {  stroke-dashoffset: 145; }
}




