/*colors*/
/* font size */
/* font family */
* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
body div::selection,
body span::selection,
br::selection {
  background: #000;
  color: #fff;
}
.page-content {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.page-content.dark-bg::before,
.page-content.dark-bg::after {
  background: #fff;
}
.page-content::before {
  content: "";
  width: 2px;
  height: 100px;
  background: #cecece;
  position: absolute;
  left: 30px;
  z-index: 5;
  opacity: 0;
  animation: opacity-obj 1s ease 2s forwards;
}
.page-content::after {
  content: "";
  width: 2px;
  height: calc(100% - 246px);
  background: #cecece;
  position: absolute;
  top: 246px;
  left: 30px;
  z-index: 5;
  opacity: 0;
  animation: opacity-obj 1s ease 2s forwards;
}
.social {
  padding: 0 10px;
  position: absolute;
  top: 100px;
  left: 10px;
  z-index: 10;
  width: 22px;
  opacity: 0;
  animation: up-text 0.5s ease 2s forwards, opacity-obj 1s ease 2s forwards;
}
.social.dark-bg .social-item {
  fill: #fff;
}
.social-item {
  display: block;
  width: 22px;
  height: 22px;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  fill: #CFCFCF;
  transition: all 0.3s;
}
.social-item:hover {
  fill: #f44336;
  transform: scale(1.2);
}
.header {
  margin-left: calc((50vw - 340px)/2 - 60px);
  margin-top: 30px;
  display: flex;
  align-items: top;
  position: absolute;
  opacity: 0;
  animation: up-text 0.5s ease 2s forwards, opacity-obj 1s ease 2s forwards;
  z-index: 20;
  cursor: pointer;
}
.header.dark-bg .header-menu span {
  background: #fff;
  transition: none;
}
.header.dark-bg .header-name {
  color: #fff;
}
.header-menu span {
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 6px;
  background: #000;
}
.header-menu span:nth-child(1) {
  width: 10px;
  transition: all 1s;
}
.header-menu span:nth-child(2) {
  transition: all 1s;
}
.header-menu span:nth-child(3) {
  width: 15px;
  transition: all 1s;
}
.header:hover .header-menu span:nth-child(1) {
  animation: burger-1 1s ease;
}
.header:hover .header-menu span:nth-child(2) {
  animation: burger-2 1s ease;
}
.header:hover .header-menu span:nth-child(3) {
  animation: burger-3 1s ease;
}
.header-name {
  margin-left: 50px;
  font-weight: 700;
}
.bg {
  background: #000;
  width: 50%;
  height: 100vh;
  opacity: 0;
  position: absolute;
  display: none;
  z-index: 15;
  pointer-events: none;
}
.bg.show {
  display: block;
  animation: opacity-obj-2 1s;
}
.bg.hide {
  display: block;
  animation: opacity-obj-0 1s;
}
.popup-menu {
  width: 50%;
  position: absolute;
  padding: 15% calc((50vw - 340px)/2 - 60px) 30px;
  background: #fff;
  height: 100vh;
  box-sizing: border-box;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  box-shadow: 10px 0px 30px -6px #343434;
  display: none;
}
.popup-menu .menu-links {
  align-self: flex-start;
  font-size: 1.33em;
  white-space: pre-line;
}
.popup-menu .menu-links > div {
  cursor: pointer;
  font-size: 1.33em;
  font-weight: 700;
  display: inline-block;
  position: relative;
  margin-bottom: 50px;
}
.popup-menu .menu-links > div.active::before {
  width: 100%;
}
.popup-menu .menu-links > div::before {
  content: "";
  background: #f44336;
  position: absolute;
  width: 0%;
  height: 5px;
  bottom: 0;
  left: 0;
  z-index: 10;
  transition: all 0.3s;
}
.popup-menu .menu-links > div:hover::before {
  width: 100%;
}
.popup-menu .contactme > div {
  margin-bottom: 10px;
  width: 300px;
}
.popup-menu .contactme > div.email::before {
  content: "\02709";
  margin-right: 5px;
  color: #787878;
}
.popup-menu .contactme > div.number::before {
  content: "\0260F";
  margin-right: 5px;
}
.block {
  display: flex;
  width: 100%;
  height: 100vh;
}
.block > div {
  width: 50%;
}
.block-works {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.block-works .left {
  display: block;
  width: 40%;
  margin: 0 auto;
  padding-top: 4%;
}
.block-works .left .title,
.block-works .left .subtitle {
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
  font-weight: 700;
  opacity: 0;
  animation: opacity-obj 2s ease 1s forwards, up-text-1 2s ease 0.5s forwards;
}
.block-works .left .skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 0;
  animation: opacity-obj 2s ease 2s forwards, up-text 2s ease 2s forwards;
}
.block-works .left .skills > figure {
  width: 33.3%;
  position: relative;
  margin-bottom: 30px;
}
.block-works .left .skills > figure:nth-of-type(1) .outer {
  animation: percent90 2s ease-out 2s;
  stroke-dashoffset: 80;
}
.block-works .left .skills > figure:nth-of-type(2) .outer {
  animation: percent70 2s ease-out 2s;
  stroke-dashoffset: 110;
}
.block-works .left .skills > figure:nth-of-type(3) .outer {
  animation: percent50 2s ease-out 2s;
  stroke-dashoffset: 170;
}
.block-works .left .skills > figure:nth-of-type(4) .outer {
  animation: percent50 2s ease-out 2s;
  stroke-dashoffset: 160;
}
.block-works .left .skills > figure:nth-of-type(5) .outer {
  animation: percent50 2s ease-out 2s;
  stroke-dashoffset: 60;
}
.block-works .left .skills > figure:nth-of-type(6) .outer {
  animation: percent50 2s ease-out 2s;
  stroke-dashoffset: 210;
}
.block-works .left .outer {
  fill: transparent;
  stroke: #f44336;
  stroke-width: 5px;
  stroke-dasharray: 440;
  transition: stroke-dashoffset 1.5s ease-out;
  -webkit-animation-play-state: running;
}
.block-works .left .inner {
  stroke: #f0f0f0;
  stroke-width: 5px;
  stroke-dasharray: 440;
  fill: transparent;
}
.block-works .left .chart figcaption {
  padding: 50px 25px;
  width: 100px;
  line-height: 50px;
  text-align: center;
  font-size: 1.33em;
  margin: 0 auto;
}
.block-works .left .chart svg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.block-works .left .chart:hover .outer {
  stroke-dashoffset: 440 !important;
  -webkit-animation-play-state: paused;
}
.block-works .left .subtitle {
  margin-top: 5%;
}
.block-works .left .sites-list ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 20px;
  opacity: 0;
  animation: opacity-obj 2s ease 2s forwards, up-text 2s ease 2s forwards;
}
.block-works .left .sites-list ul li {
  width: 46%;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: all 0.5s;
}
.block-works .left .sites-list ul li a {
  text-decoration: none;
  color: black;
  position: relative;
  border-bottom: 1px dotted red;
}
.block-works .left .sites-list ul li::before {
  content: "\25CF";
  margin-right: 10px;
  margin-left: -20px;
  color: #cecece;
}
.block-works .left .sites-list ul li:hover {
  transform: translateX(10px);
}
.block-works .left .sites-list ul li:hover a {
  border-color: transparent;
}
.block-works .left .sites-list ul li:hover::before {
  content: "\27A4";
  font-size: 0.8em;
}
.left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left .content {
  width: 360px;
}
.left .content .text-bg {
  font-size: 5.609em;
  font-family: 'Playfair Display', serif;
  opacity: 0.05;
  margin-left: -50px;
  z-index: -1;
  white-space: nowrap;
}
.left .content .text-bg .left-tx,
.left .content .text-bg .right-tx {
  font: inherit;
  display: inline-block;
  opacity: 0;
}
.left .content .text-bg .left-tx {
  transform: translateY(-150px);
  animation: bg-text-left 1.5s ease-out forwards, opacity-obj 2s ease forwards;
}
.left .content .text-bg .right-tx {
  transform: translateY(150px);
  animation: bg-text-right 1.5s ease-out forwards, opacity-obj 2s ease forwards;
}
.left .content .title {
  position: relative;
  font-size: 1.777em;
  line-height: 1.07;
  font-weight: 700;
  margin-top: -60px;
}
.left .content .title span {
  font-size: 1em;
  font: inherit;
}
.left .content .title .colorfull {
  color: #f44336;
  display: block;
}
.left .content .title .text-up {
  display: inline-block;
  opacity: 0;
}
.left .content .title .text-up:nth-child(1) {
  animation: up-text-1 1s ease-out 1.2s forwards, opacity-obj 2s ease 1.2s forwards;
}
.left .content .title .text-up:nth-child(2) {
  animation: up-text-2 1s ease-out 1.2s forwards, opacity-obj 2s ease 1.2s forwards;
}
.left .content .intro {
  font-size: 1em;
  margin-top: 30px;
  margin-bottom: 50px;
  opacity: 0;
  animation: up-text 0.5s ease 2s forwards, opacity-obj 1s ease 2s forwards;
}
.left .content .intro .hello {
  margin-bottom: 10px;
  font-size: 1em;
  display: block;
}
.left .content .button {
  background: #f44336;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0px 5px 15px -5px #ab281f;
  cursor: pointer;
  transition: all 1s ease;
  opacity: 0;
  animation: opacity-obj 1s ease 2s forwards, mainImg 1s ease 2s forwards;
}
.left .content .button::after {
  content: "\027A4";
  font-size: 20px;
  color: #fff;
  line-height: 50px;
  padding-left: 5px;
}
.left .content .button:hover {
  width: 300px;
}
.left .content .button:hover::after {
  content: "Продолжим знакомство?";
  font-size: 1em;
  color: #fff;
  line-height: 50px;
  padding-left: 5px;
  opacity: 0;
  font-weight: 600;
  animation: buttonOpen 1s ease forwards, opacity-obj 1s ease forwards;
}
.right {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.right img {
  height: 100%;
  animation: mainImg 2s ease-out 1s;
}
.block-works .right img {
  transform: scale(1.2);
  animation: mainImg 2s ease-out forwards;
}
.right .coverImg {
  width: 150%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  animation: coverImg 2s linear forwards 1s;
  pointer-events: none;
}
.block-works .right .coverImg {
  animation: coverImg 2s linear forwards;
}
